.sign-in-panel {
	width: 600px;
	margin: 0 auto;
}

.sign-up-panel {
	width: 600px;
	margin: 0 auto;
}

.thumbnail-book-card {
	height: 500px;
	overflow: hidden;
}

.thumbnail-book-card .thumb-img {
	width: 200px;
	margin: 0 auto;
}

.thumbnail-book-card .thumb-img img {
	height: 250px;
}

.thumbnail-book-card .thumb-title {
	height: 90px;
	overflow: hidden;
}


.thumbnail-book-card .thumb-description {
	height: 110px;
	overflow: hidden;
}

.book-detail img {
	height: 300px;
}

.book-detail .price-label {
	font-size: 21px;
}

.book-detail .price {
	font-size: 24px;
	font-weight: bold;
	padding-left: 10px;
}

.book-detail .count-field {
	width: 55px;
}

.total-price .total-sum-label {
	font-size: 18px;
}

.total-price .total-price {
	font-size: 20px;
	font-weight: bold;
}